.page-container
{
  min-height: 100vh !important;
}

.home-header, .home-section
{
  min-height: 650px;
}

.form-container
{
  width: min(600px,calc(100% - 100px));
}

.accordion-button:focus
{
  box-shadow: none !important;
}
.accordion-button
{
  background-color: transparent !important;
}

.carousel-inner, .carousel-item
{
  height: 100% !important;
}
.carousel.overflow-visible .carousel-inner
{
  overflow: visible !important;
}
.carousel-control-next, .carousel-control-prev
{
  width: 5rem !important;
  opacity: 1 !important;
}
.carousel-control-next > span, .carousel-control-prev > span
{
  padding: 1rem !important;
  border-radius: 50%;
  background-color: black !important;
}

.carousel-indicators
{
  background-color: deepskyblue;
  border-radius: 2rem;
  padding: 0.5rem;
}
.carousel-indicators button
{
  --size: 20px;
  width: var(--size) !important;
  height: var(--size) !important;
  border-radius: 50%;

  box-sizing: border-box !important;
  background-clip: unset !important;
  background-color: white !important;
  /* box-shadow: 0px 2px 5px black; */
}
.carousel-indicators button.active
{
  scale: 1.25;
}

.link
{
  text-decoration: none !important;
  color: unset !important;
}

[type=email]
{
  direction: unset !important;
}