.page-container
{
  min-height: 100vh !important;
}

:root
{
  --accent: #0D424A;
}
.bg-accent
{
  background-color: var(--accent) !important;
}
.text-accent
{
  color: var(--accent) !important;
}

.home-header, .home-section
{
  min-height: 650px;
}

.form-container
{
  width: min(800px,calc(100% - 100px));
}

.accordion-button:focus
{
  box-shadow: none !important;
}
.accordion-button
{
  background-color: transparent !important;
}

.carousel-inner, .carousel-item
{
  height: 100% !important;
}
.carousel.overflow-visible .carousel-inner
{
  overflow: visible !important;
}
.carousel-control-next, .carousel-control-prev
{
  width: 5rem !important;
  opacity: 1 !important;
}
.carousel-control-next > span, .carousel-control-prev > span
{
  padding: 1rem !important;
  border-radius: 50%;
  background-color: black !important;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.link
{
  text-decoration: none !important;
  color: unset !important;
}

[type=email]
{
  direction: unset !important;
}

.hover-scale, .main-btn
{
  scale: 1;
  transition: scale 0.2s ease-out;
}
.hover-scale:hover, .main-btn:hover
{
  scale: 1.02;
}




.home-news-carousel .carousel-indicators
{
  background-color: var(--accent);
  border-radius: 0.5rem;
  gap: 0.5rem;
  padding: 0.5rem;
}
.home-news-carousel .carousel-indicators button
{
  --size: 20px;
  width: var(--size) !important;
  height: var(--size) !important;
  border-radius: 0.2rem;

  box-sizing: border-box !important;
  background-clip: unset !important;
  background-color: white !important;
  /* box-shadow: 0px 2px 5px black; */
}
.home-news-carousel .carousel-indicators button.active
{
  background-color: transparent !important;
  border: 0.4rem white solid;
  scale: 1.25;
}


.main-btn
{
  font-weight: 600;
  padding: 0.5rem 1.5rem !important;
  color: white !important;

  border-radius: 0.25rem;
  box-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  border: solid black 0.1rem !important;
  z-index: 1;
}

.main-btn::before
{
  --color-1: #1f5c67;
  --color-2: var(--accent);
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg ,var(--color-1)  30%, var(--color-2) 0%) !important;
  transform: translate(0,0);
  scale: 1.45 1.25;
  z-index: -1;
  transition: transform 0.2s ease-out;

}
.main-btn:hover::before
{
  transform: translate(15%,10%);
}

.main-btn.primary::before
{
  --color-1: #437b99;
  --color-2: #0e5487;
}

.main-btn.danger::before
{
  --color-1: #994343;
  --color-2: #851515;
}

.image-border
{
  position: relative;
}
.image-border::before
{
  content: "";
  position: absolute;
  top: 0; right: 0;
  border: solid 30px transparent;
  border-color: black black transparent transparent;
  border-top-right-radius: 0.5rem;
}
.image-border::after
{
  content: "";
  position: absolute;
  bottom: 0; left: 0;
  border: solid 30px transparent;
  border-color: transparent transparent black black;
  border-bottom-left-radius: 0.5rem;
}
.home-bg-1
{
  --overlay-col: rgba(0, 0, 0, 0.6);
  background: linear-gradient(var(--overlay-col),var(--overlay-col)), url("assets/img/home-1.jpg");
  background-size: cover;
}

.home-bg-2
{
  --overlay-col: rgba(0, 0, 0, 0.5);
  background: linear-gradient(var(--overlay-col),var(--overlay-col)), url("assets/img/home-2.jpg");
  background-size: cover;
}

.home-fac-bg
{
  background-size: 100%;
  background-position: center;
  position: relative;
  z-index: 1;
  transition: background-size 0.2s ease-out;
}
.home-fac-bg::before
{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.home-fac-bg:hover
{
  background-size: 110%;
}

.home-cert-bg
{
  background-image: url("./assets/img/home-cert-section-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.login-form-bg
{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25),transparent 25%), url("assets/img/login-1.jpg");
  background-size: cover;
  background-position: center;
}
.login-page-bg
{
  inset: 0;
  background: linear-gradient(rgba(255,255,255, 0.75), rgba(255,255,255, 0.75)), url("assets/img/login-1.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(0.75rem);
  z-index: -1;
}


.apply-form-header
{
  background-color: gray;
  transition: background-color 0.2s ease-out, scale 0.2s ease-out;
}
.apply-form-header.active
{
  background-color: var(--bs-primary);
  scale: 1.15;
}

.navbar-dropdown-button
{
  cursor: pointer;
}
.navbar-dropdown-container
{
  /* width: min(10rem,20vw); */
  pointer-events: none;
  padding-top: 0.5rem;
  top: calc(100% - 0.5rem);
}
.navbar-dropdown-container.left
{
  left: 100%; top: 0;
  padding-top: 0;
}

.navbar-dropdown-menu:where(:hover) > .navbar-dropdown-container > .navbar-dropdown
{
  transform: translateY(0);
  pointer-events: auto;
  /* transform: scaleY(1); */
  opacity: 1;
}
.navbar-dropdown-menu:where(:hover) > .navbar-dropdown-container
{
  pointer-events: auto;
}
.navbar-dropdown-container > .navbar-dropdown
{
  /* max-height: 0; */
  pointer-events: none;
  opacity: 0;
  transform: translateY(-1em);
  /* transform: scaleY(0); */
  transform-origin: top;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  top: 100%;

}
.navbar-dropdown > *
{
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
.navbar-dropdown > *:hover
{
  background-color: var(--bs-light) !important;
}

.info-modal > .modal-dialog
{
  max-width: min(1200px, calc(100% - 50px)) !important;
}
.info-modal 
{
  max-width: 100% !important;
}


.labeled-input
{
  position: relative;
}

.labeled-input input
{
  border: solid 1px !important;
  border-color: lightgray !important;
  outline: none;
  box-shadow: none;
  transition: border-color 0.1s ease-out, box-shadow 0.1s ease-out;
}

.labeled-input input:focus
{
  border-color: #86b7fe;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.labeled-input span
{
  pointer-events: none;
  position: absolute;
  top: 50%; transform: translate(-0.5rem,-50%);
  right: 0;

  transition: top 0.1s ease-out, font-size 0.1s ease-out, background-color 0.1s ease-out, padding 0.1s ease-out;
}

.labeled-input input:focus ~span, .labeled-input input:not(:placeholder-shown) ~span
{
  background-color: white;
  top: 0;
  font-size: 0.75rem;
  padding: 0 0.25rem;
}


.apply-progress-container
{
  background-color: #aad3da;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.apply-progress
{
  background-color: #367f8a;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  transition: width 0.5s ease-out;
}


.text-shadow
{
  text-shadow: 3px 3px 2px rgba(0,0,0,0.8);
}

.table-column .row:last-child
{
  border: none !important;
}